<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/header::header">
</head>
<body>
	<div>
		<p></p>
	</div>
	<div class="container">
		<form action="" th:action="@{/login}"  method="post" role="form" class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-2" for="username">Username:</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" id="username" placeholder="Enter username" name="username" ></input>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="pwd">Password:</label>
				<div class="col-sm-5">
					<input type="password" class="form-control" id="pwd" placeholder="Enter username" name="password" ></input>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" th:text="${errorInfo}">Error Message</label>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Login</button>
				</div>
			</div>
		</form>
	</div>
</body>

<th:block th:include="fragment/scripts::scripts"></th:block>
<script type="text/javascript" th:src="@{/webjars/trumbowyg/2.5.1/dist/trumbowyg.min.js}"></script>
</html>